{% block tag_start %}<section class="content-block {{ block.type }}">{% endblock %}
{% block block %}
    {% if app.debug %}
        {% include '@UniteCMSWebsite/partials/_dumpBlock.html.twig' with { block: block } %}
    {% else %}
        <!-- Not implemented -->
    {% endif %}
{% endblock %}
{% block tag_end %}</section>{% endblock %}
